
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Subscription")) 
{
    <table>
        <thead>
            <tr>
                <th>Select Months</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="str">
                        <option value="3">3Months</option>
                        <option value="6">6Months</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </td>
            </tr>
        </tbody>
    </table>
}

