import swal from 'sweetlaert';
@{
    ViewBag.Title = "Create";
    var money = ViewBag.Message;
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <style>
        body {
            background-image: url('https://cdn.pixabay.com/photo/2020/05/16/16/43/book-5178205__480.jpg');
            background-size: 1400px 700px;
        }
    </style>
</head>
<br>
<br>
<br><br>

@if (@money > 0)
{
    <div class="table-bordered tables subscription">
        <form asp-action="CreateSubscriber" asp-controller="Subscription" onsubmit="return validatePayment()" method="post">
            <h2>Payment Details</h2>
            <table class="table table-bordered table-striped" style="border: 4px solid double;">
                <thead>
                    <tr>
                        <th>Cardholder's Name</th>

                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color:cornsilk"><input type="text" name="Username" id="Username" required></td>
                        <td style="background-color:cornsilk"><input type="email" name="Email" id="Email" required></td>
                    </tr>
                </tbody>
            </table>
            @*<h4>Date Of Birth</h4>
            <input type="date" name="date" id="name"><br>*@
            <div>
                <h4>Gender</h4>
                <input type="radio" name="gender" value="male" required> Male<br>
                <input type="radio" name="gender" value="female" required> Female<br>
            </div>
            <h4>Payment Details</h4>
            <label>CardNumber</label><input type="number" id="card-1" required><input type="number" id="card-2" required><input type="number" id="card-3" required>
            <label>CVV</label>
            <select required>
                <option>01 Jun</option>
                <option>02 Dec</option>
            </select>
            <select>
                <option>2023</option>
                <option>2024</option>
            </select>
            <label>Amount: </label>
            <label style="height:15px"><input type="hidden" name="money" value="@money">@money</label>
            <center>
                <div style="margin-top: 10px">
                    <input type="submit" name="PayNow" value="Submit" class="buttonAb" />
                </div>
            </center>
        </form>
    </div>

}
else
{
<center>
    <div style="opacity: 0.9">
        @using (Html.BeginForm("CreateSubscriber", "Subscription"))
        {
            <div class="table-bordered form-horizontal monthform">
                <table>
                    <thead>
                        <tr>
                            <th class="subscribe" style="background-color:cornsilk"><h4 style="color:black">Select Months</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="margin-bottom:10px">
                            <td>
                                <select name="months" style="margin-left:15px" required>
                                    <option value="" disabled selected>Select..</option>
                                    <option value="1">1Month</option>
                                    <option value="3">3Months</option>
                                    <option value="6">6Months</option>
                                    <option value="12">1Year</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Submit" style="margin-left:20px" class="btn subscribe1 buttonAb">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
 </center>
}



<script>
    function validatePayment()
    {
        let carddetail1 = document.getElementById("card-1").value;
        let carddetail2 = document.getElementById("card-2").value;
        let carddetail3 = document.getElementById("card-3").value;

        if (carddetail1 < 1000 || carddetail1 > 9999 || carddetail2 < 1000 || carddetail2 > 9999 || carddetail3 < 1000 || carddetail3 > 9999) {

            alert("Enter correct Card-details");
            return false;
        }
        else
        {
            return true;
        }
    }
</script>


