@model IEnumerable<eLibrary.Subscription>

@{
    ViewBag.Title = "Get";
}
<style>
    body {
        background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHxlbnwwfHwwfHw%3D&w=1000&q=80);
        background-size: cover;
    }
</style>

<table class="table table-bordered tables">
    <tr>
        <th>
            UserId   
        </th>
        <th>
            StartDate   
        </th>
        <th>
            EndDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @item.StartDate.ToShortDateString()
        </td>
        <td>
            @item.EndDate.ToShortDateString()
        </td>
    </tr>
}

</table>
