body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

/*New CSS*/
.buttonAb {
    background-color: lightcoral;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    /*margin-left:130px;*/
    /*opacity: 0.7*/
}
.buttonAbc:hover {
    background-color: lightgreen;
}

.login {
    margin-top: 150px;  
    padding:10px;
}

.subscribe {
    padding-bottom:10px;
    padding-top: 10px;
}

.subscribe1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.register {
    color: white;
    /*background-color: blue;*/
}

.getbooks {
    color: lightgreen;
}

.login {
    margin-left: 20px;
    background-color:floralwhite;
    width: 400px;
    margin-left:400px;
}

.border {
    border: 4px solid double;
}

td, th {
    text-align: center;
}

.tables {
    border-color:black;
    border: 2px solid;
    border-radius: 10px;
    background-color:mintcream;
    
}
th {
    background-color: rosybrown;
    color: white;
    height: 50px;
}

.bgimage {
    background-image:src('../img/background-image.png');
    
}

.about {
    color: black;
    background-color: mintcream;
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    opacity: 0.8;
}

.dashboard {
    width: 400px;
    height: 470px;
    background-color: gray;
    padding: 4px 4px 4px 4px;
    border-radius: 20px;
    text-align: center;
    opacity: 50%;
}



