@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url('https://media.istockphoto.com/id/457742471/photo/old-library.jpg?s=612x612&w=0&k=20&c=RNi_BeKn3VcVTIw5GqWZHJqz7Fan4Aa5k7pYMc1teds=');
        background-size: 1400px 700px;
    }
</style>
<div style="color:white">
    <h3>@ViewBag.Message</h3>
    <h3>Since 2022</h3>
    <h4>
        A library management system is software that is designed to manage all the functions of a library. It helps librarian to maintain the database of new books and the books that are borrowed by members along with their due dates.
    
        This system completely automates all your library’s activities. The best way to maintain, organize, and handle countless books systematically is to implement a library management system software.
    
        A library management system is used to maintain library records. It tracks the records of the number of books in the library, how many books are issued, or how many books have been returned or renewed or late fine charges, etc.
    
        You can find books in an instant, issue/reissue books quickly, and manage all the data efficiently and orderly using this system. The purpose of a library management system is to provide instant and accurate data regarding any type of book, thereby saving a lot of time and effort.
    </h4>
</div>
