@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg');
        background-size: cover;
    }
</style>
<div class="getbooks">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>Since 2022</h3>
</div>
