@{
    ViewBag.Title = "Home Page";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581__480.jpg');
            background-repeat: no-repeat;
            background-size: 1400px 700px;
        }
    </style>
}

<hr>

<div class="jumbotron">
    <h1>Library Management System</h1>
    <p class="lead">Welcome to Oxford Library. Here, You will find all kind of books of your need.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: white">Getting started</h2>
        <p style="color: white">
            The best way to maintain, organize, and handle countless books systematically.
        </p>
    </div>
    <div class="col-md-4" style="color:lightgreen">
        <h2 style="color: white">Why Oxford</h2>
        <p style="color: white">It tracks the records of the number of books in the library, how many books are issued, or how many books have been returned or renewed or late fine charges, etc.</p>
    </div>
    <div class="col-md-4" style="color: lightgreen">
        <h2 style="color: white">What You Will Get</h2>
        <p style="color: white">You can find books in an instant, issue/reissue books quickly, and manage all the data efficiently and orderly using this system.</p>
    </div>
</div>