@model eLibrary.Bookcategory

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<form action="GetBooks" method="post">
        <table>
            <tr>
                <td>Enter Bookname </td>
                <td><input type="text" name="name" value="name" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>
</form>*@


