@model IEnumerable<eLibrary.UserBookDetail>

@{
    ViewBag.Title = "GetAccess";
}

<style>
    body {
        background-image: url('https://cdn.pixabay.com/photo/2015/07/22/21/44/book-856151__480.jpg');
        background-size: 1400px 700px;
    }
</style>
<center>
    <div class="jumbotron" style="height:150px; width: 500px; margin-top: 40px; background-color: lightyellow; opacity: 50%">
        <center>
            <h2>You are not authorised.</h2>
        </center>
    </div>
</center>