@model IEnumerable<eLibrary.UserBookDetail>

@{
    ViewBag.Title = "GetAccess";
    var message = ViewBag.Message;
}

<style>
    body {
        background-image: url('https://cdn.pixabay.com/photo/2015/07/22/21/44/book-856151__480.jpg');
        background-size: 1400px 700px;
    }
</style>
<center>
    <div class="jumbotron access">
        <center>
            <h2>@message</h2>
        </center>
    </div>
</center>