@*@model eLibrary.User*@

@{
    ViewBag.Title = "Create";
    var message = ViewBag.Message;
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJvb2t8ZW58MHx8MHx8&w=1000&q=80');
            background-size: 1400px 700px;
        }
    </style>

</head>


<form  asp-action="Create" asp-controller="User" name="registrationform" onsubmit="return validateform()" method="post">
    <br><br><br>
    <h2 style="margin-left:15px;">Register</h2>
    <label class="alert-danger">@message</label>
    <table style=" border-collapse:separate; border-spacing: 10px 15px">
        <tr>
            <td><label for="UserName">Username:</label></td>
            <td><input type="text" id="UserName" name="UserName" required></td>
           
        </tr>
        <tr>
            <td><label for="UserPassword">Password:</label></td>
            <td><input type="password" id="password" name="UserPassword" required minlength ="3"></td>
        </tr>
        <tr>
            <td><label for="ContactNo">ContactNo:</label></td>
            <td><input type="tel" id="phone" name="ContactNo" required minlength="10" maxlength="10"></td>
        </tr>
        <tr>
            <td><label for="UserAddress">Address:</label></td>
            <td><input type="text" id="address" name="UserAddress" required minlength="6"></td>
        </tr>
        <tr>
            <td><label for="Occupation">Occupation:</label></td>
            <td><input type="text" id="occupation" name="Occupation" required></td>
        </tr>
        <tr>
            <td><label for="Age">Age:</label></td>
            <td><input type="number" id="age" name="Age" required min="4"></td>
        </tr>
        <tr>
        </tr>
    </table>
    <input type="submit" value="Register" class="buttonAb" style="margin-left:110px;">
</form>

<script>
   
    function validateform() {
        let password = document.getElementById("password").value;
        let contactno = document.getElementById("phone").value;
        let address = document.getElementById("address").value;
        let ocupation = document.getElementById("occupation").value;
        let age = document.getElementById("age").value;
      
        if (password.length < 3)
        {
            alert("Passwrod is too short")
            return false;
        }
        if (contactno.length != 10)
        {
            alert("Enter correct contact no")
            return false;
        }
        if (address.length == "")
        {
            alert("Please enter correct address")
            return false;
        }
        if (ocupation.length == "") {
            alert("Please enter occupation")
            return false;
        }
        if (age < 3 || age > 100)
        {
            alert("Please enter correct age")
            return false;
        }
        return true
    }
</script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
