@{
    ViewBag.Title = "Login";
}
<head>
    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/124378.jpg');
        }
    </style>
</head>
<div class="login">
<br>
<center>
    @using (Html.BeginForm("Login", "User"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" name="name" placeholder="e.g Divyansh"> <br>
            </div>

            <div class="form-group">
                <label for="name">Password</label>
                <input type="password" name="password"> <br>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="buttonAb" />
                    @Html.ActionLink("Register", "Create","User", htmlAttributes: new { @class = "buttonAb" })
                </div>
            </div>
        </div>
    }
</center>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
