<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>

<style>
    body {
        background-image: url('https://cdn.pixabay.com/photo/2015/07/22/21/44/book-856151__480.jpg');
        background-size: 1400px 700px;
    }
</style>
<center>
    <div class="jumbotron" style="height:250px; width: 500px; margin-top: 40px; background-color: lightyellow; opacity: 50%">
        <h3>An Error Occured While Processing your request</h3>
    </div>
</center>
